<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DriveAssure"
        tools:targetApi="31">
        <activity
            android:name=".ReadyToSettleRent"
            android:exported="false" />
        <activity
            android:name=".InquireNowActivity"
            android:exported="false" />
        <activity
            android:name=".homepagelistings"
            android:exported="false" />
        <activity
            android:name=".DetailedCarOwnerListingsActivity"
            android:exported="false" />
        <activity
            android:name=".Select_Vehicle_Choice"
            android:exported="false" />
        <activity
            android:name=".CreatingListingActivity"
            android:exported="false" />
        <activity
            android:name=".terms_and_agreement"
            android:exported="false" />
        <activity
            android:name=".adminAcceptReject"
            android:exported="false" />
        <activity
            android:name=".AdminHome"
            android:exported="false" />
        <activity
            android:name=".WaitingActivity"
            android:exported="false" />
        <activity
            android:name=".UploadDriversLicense"
            android:exported="false" />
        <activity
            android:name=".VerifiedSuccess"
            android:exported="false" />
        <activity
            android:name=".FaceVerification"
            android:exported="false" />
        <activity
            android:name=".IdentityVerification2"
            android:exported="false" />
        <activity
            android:name=".IdentityVerification"
            android:exported="false" />
        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".LoginHomePage"
            android:exported="false" />
        <activity
            android:name=".userHome"
            android:exported="false" />
        <activity
            android:name=".ChatListActivity"
            android:exported="true" />
        <activity
            android:name=".ChatRoomActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>